$grid-values: (
        prefix: development,
        breakpoints: (
                small: (
                        breakpoint: 47,
                        columns: 2,
                        gutter: 25px,
                        margin: 9,
                        row-height: 1
                ),
                medium: (
                        breakpoint: 64,
                        columns: 12,
                        gutter: 30px,
                        margin: 8,
                        row-height: 2
                ),
                large: (
                        breakpoint: 90,
                        columns: 12,
                        gutter: 80px,
                        margin: 7,
                        row-height: 3
                )
        ),
        rem: 16,
        rows: 20,
        paths: (
                route: temp
        )
);
