@import "values";

$prefix: map-get($grid-values, prefix);
$breakpoints: map-values(map-get($grid-values, breakpoints));
$first-breakpoint-name: nth(nth(map-get($grid-values, breakpoints), 1), 1);
$rows: map-get($grid-values, rows);
$cap-height: 0.75 !default;
